@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wdth@0,75;1,75&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
/* @import url("https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js");
@import url("https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"); */

/* @type {import('tailwindcss').Config} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
